<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>詳細</title>
</head>
<body>
<h1>aaaaaaaa</h1>

<a th:href="@{/users/list}">一覧に戻る</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>pass</th>
    </tr>
    <tr  th:object="${user}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{password}"></td>

    </tr>
</table>

<form th:object="${user}" th:action="@{/users/update/{id}(id = *{id})}" method="get">
    <input type="submit" value="update">
</form>

<form th:object="${user}" th:action="@{/users/delete/{id}(id = *{id})}" method="post">
    <input type="submit" value="delete">
</form>

</body>
</html>