<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h2 style="text-align:center; padding:10px">詳細</h2>
<table align="center" style="border-collapse: collapse; width: 50%; table-layout: fixed;">
    <tr>
        <th style="border: solid 1px">id</th>
        <th style="border: solid 1px">名前</th>
        <th style="border: solid 1px">パスワード</th>
    </tr>
<tr th:each="user : ${user}">
    <td th:text="${user.id}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${user.name}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${user.password}" style="text-align: center; border: solid 1px;"></td>
</tr>
</table>

<div  style=" display:flex; justify-content: space-around; margin-top:20px; margin-left:30%; margin-right:30%">
<form th:action="@{/update/{id}(id=${user.id})}" method="get">
<button>更新</button>
</form>
<form th:action="@{/delete/{id}(id=${user.id})}" method="get">
<button>削除</button>
</form>
<form th:action="@{/hello}" method="get">
    <button>戻る</button>
</form>
</div>
</body>
</html>