<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <div>
        Hello [[${name}]]!
    </div>
    <br>
    <form th:object="${userForm}" th:action="${action}" id="form1" enctype="multipart/form-data" method="post">
        <div>
            <label>Name:</label>
            <div>
                <input type="text" th:type="text" th:field="*{name}" />
            </div>
            <label>Password:</label>
            <div>
                <input type="text" th:type="text" th:field="*{password}" />
            </div>
            <label>Password Confirm:</label>
            <div>
                <input type="text" th:type="text" th:field="*{passwordConfirm}">
            </div>
            <div>
                <input type="submit" value="Send"/>
            </div>
            <tr>
                <td><></td>
                <td><></td>
                <td><></td>
                <td><></td>
            </tr>
        </div>
    </form>
</body>
</html>