<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<div>
    削除画面
</div>
<br>
<form th:object="${userForm}" th:action="${action}" id="form1" enctype="multipart/form-data" method="post">
    <div>
        <label>ID:</label>
        <div>
            <input type="number" th:type="number" th:field="*{id}">
        </div>
        <div>
            <input type="submit" value="Send" />
        </div>
    </div>
</form>
</body>
</html>