<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
<h2 style="text-align:center; padding:10px">商品リスト</h2>
<table align="center" style="border-collapse: collapse; width: 50%; table-layout: fixed">
    <tr>
        <th style="border: solid 1px">id</th>
        <th style="border: solid 1px">商品名</th>
        <th style="border: solid 1px">価格</th>
        <th style="border: solid 1px">発売日</th>
        <th style="border: solid 1px">画像URL</th>
        <th style="border: solid 1px"></th>
    </tr>
<tr th:each="item : ${itemList}">
    <td th:text="${item.id}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${item.name}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${item.price}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${item.releaseDate}" style="text-align: center; border: solid 1px;"></td>
    <td th:text="${item.imageUrl}" style="text-align: center; border: solid 1px;"></td>
    <td style="text-align: center; border: solid 1px;">
    <form th:action="@{/detail/{id}(id=${item.id})}" method="get">
        <button>詳細</button>
    </form>
    </td>
</tr>
</table>

<form th:action="@{/insert}" method="get" style="text-align:center; margin-top:20px">
<button>登録</button>
</form>
</body>
</html>