<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DB登録</title>
</head>
<body>
    <h1>データベース登録</h1>

    <form th:object="${userForm}" th:action="${action}" id="form2" enctype="multipart/form-data" method="post">
        <div>
            <div>名前</div>
            <input type="text" th:type="text" th:field="*{name}">
            <div th:if="${#fields.hasErrors('name')}"></div>
        </div>
        <div>
            <div>パスワード</div>
            <input  type="text" th:type="text" th:field="*{password}">
            <div th:each="error : ${#fields.errors('password')}"></div>
        </div>
        <div>
            <div>パスワード再入力</div>
            <input type="text" th:type="text" th:field="*{passwordConfirm}"><br>
            <div th:each="error : ${#fields.errors('passwordConfirm')}">[[${error}]]</div>
        </div>
        <div>
            <input type="submit" th:type="submit" name="insert" value="登録">
        </div>
    </form>
    <a href="index.html" th:href="@{/index}">DB一覧</a>
</body>
</html>